In [31]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import DBSCAN
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.cluster import AgglomerativeClustering

In [21]:
data=pd.read_csv(r'C:\Users\Ghalamkarian\PycharmProjects\pythonProject3\clustring project.csv')

In [22]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [23]:
xx=data['Gender']
le=LabelEncoder()
encoder=le.fit_transform(xx)
data['Gender']=encoder

In [24]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       1   19                  15                      39
1           2       1   21                  15                      81
2           3       0   20                  16                       6
3           4       0   23                  16                      77
4           5       0   31                  17                      40

In [25]:
data=data.drop('CustomerID',axis=1)
data.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       1   19                  15                      39
1       1   21                  15                      81
2       0   20                  16                       6
3       0   23                  16                      77
4       0   31                  17                      40

In [26]:
data.isnull().sum()

Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [27]:
data.dtypes

Gender                    int32
Age                       int64
Annual Income (k$)        int64
Spending Score (1-100)    int64
dtype: object

In [28]:
w=data.columns
x=data[w]
x

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0         1   19                  15                      39
1         1   21                  15                      81
2         0   20                  16                       6
3         0   23                  16                      77
4         0   31                  17                      40
..      ...  ...                 ...                     ...
195       0   35                 120                      79
196       0   45                 126                      28
197       1   32                 126                      74
198       1   32                 137                      18
199       1   30                 137                      83

[200 rows x 4 columns]

In [33]:
scalearn=preprocessing.StandardScaler()
xn=scalearn.fit(x).transform(x)
xn

array([[ 1.12815215, -1.42456879, -1.73899919, -0.43480148],
       [ 1.12815215, -1.28103541, -1.73899919,  1.19570407],
       [-0.88640526, -1.3528021 , -1.70082976, -1.71591298],
       [-0.88640526, -1.13750203, -1.70082976,  1.04041783],
       [-0.88640526, -0.56336851, -1.66266033, -0.39597992],
       [-0.88640526, -1.20926872, -1.66266033,  1.00159627],
       [-0.88640526, -0.27630176, -1.62449091, -1.71591298],
       [-0.88640526, -1.13750203, -1.62449091,  1.70038436],
       [ 1.12815215,  1.80493225, -1.58632148, -1.83237767],
       [-0.88640526, -0.6351352 , -1.58632148,  0.84631002],
       [ 1.12815215,  2.02023231, -1.58632148, -1.4053405 ],
       [-0.88640526, -0.27630176, -1.58632148,  1.89449216],
       [-0.88640526,  1.37433211, -1.54815205, -1.36651894],
       [-0.88640526, -1.06573534, -1.54815205,  1.04041783],
       [ 1.12815215, -0.13276838, -1.54815205, -1.44416206],
       [ 1.12815215, -1.20926872, -1.54815205,  1.11806095],
       [-0.88640526, -0.27630176, -1.50998262, -0.59008772],
       [ 1.12815215, -1.3528021 , -1.50998262,  0.61338066],
       [ 1.12815215,  0.94373197, -1.43364376, -0.82301709],
       [-0.88640526, -0.27630176, -1.43364376,  1.8556706 ],
       [ 1.12815215, -0.27630176, -1.39547433, -0.59008772],
       [ 1.12815215, -0.99396865, -1.39547433,  0.88513158],
       [-0.88640526,  0.51313183, -1.3573049 , -1.75473454],
       [ 1.12815215, -0.56336851, -1.3573049 ,  0.88513158],
       [-0.88640526,  1.08726535, -1.24279661, -1.4053405 ],
       [ 1.12815215, -0.70690189, -1.24279661,  1.23452563],
       [-0.88640526,  0.44136514, -1.24279661, -0.7065524 ],
       [ 1.12815215, -0.27630176, -1.24279661,  0.41927286],
       [-0.88640526,  0.08253169, -1.20462718, -0.74537397],
       [-0.88640526, -1.13750203, -1.20462718,  1.42863343],
       [ 1.12815215,  1.51786549, -1.16645776, -1.7935561 ],
       [-0.88640526, -1.28103541, -1.16645776,  0.88513158],
       [ 1.12815215,  1.01549866, -1.05194947, -1.7935561 ],
       [ 1.12815215, -1.49633548, -1.05194947,  1.62274124],
       [-0.88640526,  0.7284319 , -1.05194947, -1.4053405 ],
       [-0.88640526, -1.28103541, -1.05194947,  1.19570407],
       [-0.88640526,  0.22606507, -1.01378004, -1.28887582],
       [-0.88640526, -0.6351352 , -1.01378004,  0.88513158],
       [-0.88640526, -0.20453507, -0.89927175, -0.93948177],
       [-0.88640526, -1.3528021 , -0.89927175,  0.96277471],
       [-0.88640526,  1.87669894, -0.86110232, -0.59008772],
       [ 1.12815215, -1.06573534, -0.86110232,  1.62274124],
       [ 1.12815215,  0.65666521, -0.82293289, -0.55126616],
       [-0.88640526, -0.56336851, -0.82293289,  0.41927286],
       [-0.88640526,  0.7284319 , -0.82293289, -0.86183865],
       [-0.88640526, -1.06573534, -0.82293289,  0.5745591 ],
       [-0.88640526,  0.80019859, -0.78476346,  0.18634349],
       [-0.88640526, -0.85043527, -0.78476346, -0.12422899],
       [-0.88640526, -0.70690189, -0.78476346, -0.3183368 ],
       [-0.88640526, -0.56336851, -0.78476346, -0.3183368 ],
       [-0.88640526,  0.7284319 , -0.70842461,  0.06987881],
       [ 1.12815215, -0.41983513, -0.70842461,  0.38045129],
       [-0.88640526, -0.56336851, -0.67025518,  0.14752193],
       [ 1.12815215,  1.4460988 , -0.67025518,  0.38045129],
       [-0.88640526,  0.80019859, -0.67025518, -0.20187212],
       [ 1.12815215,  0.58489852, -0.67025518, -0.35715836],
       [-0.88640526,  0.87196528, -0.63208575, -0.00776431],
       [ 1.12815215,  2.16376569, -0.63208575, -0.16305055],
       [-0.88640526, -0.85043527, -0.55574689,  0.03105725],
       [ 1.12815215,  1.01549866, -0.55574689, -0.16305055],
       [ 1.12815215,  2.23553238, -0.55574689,  0.22516505],
       [ 1.12815215, -1.42456879, -0.55574689,  0.18634349],
       [-0.88640526,  2.02023231, -0.51757746,  0.06987881],
       [-0.88640526,  1.08726535, -0.51757746,  0.34162973],
       [ 1.12815215,  1.73316556, -0.47940803,  0.03105725],
       [ 1.12815215, -1.49633548, -0.47940803,  0.34162973],
       [-0.88640526,  0.29783176, -0.47940803, -0.00776431],
       [-0.88640526,  2.091999  , -0.47940803, -0.08540743],
       [ 1.12815215, -1.42456879, -0.47940803,  0.34162973],
       [-0.88640526, -0.49160182, -0.47940803, -0.12422899],
       [ 1.12815215,  2.23553238, -0.4412386 ,  0.18634349],
       [-0.88640526,  0.58489852, -0.4412386 , -0.3183368 ],
       [-0.88640526,  1.51786549, -0.40306917, -0.04658587],
       [-0.88640526,  1.51786549, -0.40306917,  0.22516505],
       [ 1.12815215,  1.4460988 , -0.25039146, -0.12422899],
       [ 1.12815215, -0.92220196, -0.25039146,  0.14752193],
       [-0.88640526,  0.44136514, -0.25039146,  0.10870037],
       [ 1.12815215,  0.08253169, -0.25039146, -0.08540743],
       [-0.88640526, -1.13750203, -0.25039146,  0.06987881],
       [-0.88640526,  0.7284319 , -0.25039146, -0.3183368 ],
       [ 1.12815215,  1.30256542, -0.25039146,  0.03105725],
       [ 1.12815215, -0.06100169, -0.25039146,  0.18634349],
       [ 1.12815215,  2.02023231, -0.25039146, -0.35715836],
       [-0.88640526,  0.51313183, -0.25039146, -0.24069368],
       [-0.88640526, -1.28103541, -0.25039146,  0.26398661],
       [ 1.12815215,  0.65666521, -0.25039146, -0.16305055],
       [-0.88640526,  1.15903204, -0.13588317,  0.30280817],
       [-0.88640526, -1.20926872, -0.13588317,  0.18634349],
       [-0.88640526, -0.34806844, -0.09771374,  0.38045129],
       [-0.88640526,  0.80019859, -0.09771374, -0.16305055],
       [-0.88640526,  2.091999  , -0.05954431,  0.18634349],
       [ 1.12815215, -1.49633548, -0.05954431, -0.35715836],
       [ 1.12815215,  0.65666521, -0.02137488, -0.04658587],
       [-0.88640526,  0.08253169, -0.02137488, -0.39597992],
       [-0.88640526, -0.49160182, -0.02137488, -0.3183368 ],
       [ 1.12815215, -1.06573534, -0.02137488,  0.06987881],
       [-0.88640526,  0.58489852, -0.02137488, -0.12422899],
       [-0.88640526, -0.85043527, -0.02137488, -0.00776431],
       [ 1.12815215,  0.65666521,  0.01679455, -0.3183368 ],
       [ 1.12815215, -1.3528021 ,  0.01679455, -0.04658587],
       [-0.88640526, -1.13750203,  0.05496398, -0.35715836],
       [-0.88640526,  0.7284319 ,  0.05496398, -0.08540743],
       [ 1.12815215,  2.02023231,  0.05496398,  0.34162973],
       [ 1.12815215, -0.92220196,  0.05496398,  0.18634349],
       [ 1.12815215,  0.7284319 ,  0.05496398,  0.22516505],
       [-0.88640526, -1.28103541,  0.05496398, -0.3183368 ],
       [-0.88640526,  1.94846562,  0.09313341, -0.00776431],
       [ 1.12815215,  1.08726535,  0.09313341, -0.16305055],
       [ 1.12815215,  2.091999  ,  0.09313341, -0.27951524],
       [ 1.12815215,  1.94846562,  0.09313341, -0.08540743],
       [ 1.12815215,  1.87669894,  0.09313341,  0.06987881],
       [-0.88640526, -1.42456879,  0.09313341,  0.14752193],
       [-0.88640526, -0.06100169,  0.13130284, -0.3183368 ],
       [ 1.12815215, -1.42456879,  0.13130284, -0.16305055],
       [-0.88640526, -1.49633548,  0.16947227, -0.08540743],
       [-0.88640526, -1.42456879,  0.16947227, -0.00776431],
       [-0.88640526,  1.73316556,  0.16947227, -0.27951524],
       [-0.88640526,  0.7284319 ,  0.16947227,  0.34162973],
       [-0.88640526,  0.87196528,  0.24581112, -0.27951524],
       [-0.88640526,  0.80019859,  0.24581112,  0.26398661],
       [ 1.12815215, -0.85043527,  0.24581112,  0.22516505],
       [-0.88640526, -0.06100169,  0.24581112, -0.39597992],
       [-0.88640526,  0.08253169,  0.32214998,  0.30280817],
       [ 1.12815215,  0.010765  ,  0.32214998,  1.58391968],
       [-0.88640526, -1.13750203,  0.36031941, -0.82301709],
       [-0.88640526, -0.56336851,  0.36031941,  1.04041783],
       [ 1.12815215,  0.29783176,  0.39848884, -0.59008772],
       [ 1.12815215,  0.08253169,  0.39848884,  1.73920592],
       [ 1.12815215,  1.4460988 ,  0.39848884, -1.52180518],
       [ 1.12815215, -0.06100169,  0.39848884,  0.96277471],
       [ 1.12815215,  0.58489852,  0.39848884, -1.5994483 ],
       [ 1.12815215,  0.010765  ,  0.39848884,  0.96277471],
       [-0.88640526, -0.99396865,  0.43665827, -0.62890928],
       [-0.88640526, -0.56336851,  0.43665827,  0.80748846],
       [ 1.12815215, -1.3528021 ,  0.4748277 , -1.75473454],
       [-0.88640526, -0.70690189,  0.4748277 ,  1.46745499],
       [-0.88640526,  0.36959845,  0.4748277 , -1.67709142],
       [ 1.12815215, -0.49160182,  0.4748277 ,  0.88513158],
       [ 1.12815215, -1.42456879,  0.51299713, -1.56062674],
       [-0.88640526, -0.27630176,  0.51299713,  0.84631002],
       [-0.88640526,  1.30256542,  0.55116656, -1.75473454],
       [ 1.12815215, -0.49160182,  0.55116656,  1.6615628 ],
       [-0.88640526, -0.77866858,  0.58933599, -0.39597992],
       [-0.88640526, -0.49160182,  0.58933599,  1.42863343],
       [ 1.12815215, -0.99396865,  0.62750542, -1.48298362],
       [ 1.12815215, -0.77866858,  0.62750542,  1.81684904],
       [ 1.12815215,  0.65666521,  0.62750542, -0.55126616],
       [-0.88640526, -0.49160182,  0.62750542,  0.92395314],
       [-0.88640526, -0.34806844,  0.66567484, -1.09476801],
       [ 1.12815215, -0.34806844,  0.66567484,  1.54509812],
       [ 1.12815215,  0.29783176,  0.66567484, -1.28887582],
       [ 1.12815215,  0.010765  ,  0.66567484,  1.46745499],
       [-0.88640526,  0.36959845,  0.66567484, -1.17241113],
       [-0.88640526, -0.06100169,  0.66567484,  1.00159627],
       [-0.88640526,  0.58489852,  0.66567484, -1.32769738],
       [-0.88640526, -0.85043527,  0.66567484,  1.50627656],
       [ 1.12815215, -0.13276838,  0.66567484, -1.91002079],
       [-0.88640526, -0.6351352 ,  0.66567484,  1.07923939],
       [ 1.12815215, -0.34806844,  0.66567484, -1.91002079],
       [-0.88640526, -0.6351352 ,  0.66567484,  0.88513158],
       [-0.88640526,  1.23079873,  0.70384427, -0.59008772],
       [-0.88640526, -0.70690189,  0.70384427,  1.27334719],
       [ 1.12815215, -1.42456879,  0.78018313, -1.75473454],
       [-0.88640526, -0.56336851,  0.78018313,  1.6615628 ],
       [ 1.12815215,  0.80019859,  0.93286085, -0.93948177],
       [-0.88640526, -0.20453507,  0.93286085,  0.96277471],
       [ 1.12815215,  0.22606507,  0.97103028, -1.17241113],
       [-0.88640526, -0.41983513,  0.97103028,  1.73920592],
       [-0.88640526, -0.20453507,  1.00919971, -0.90066021],
       [ 1.12815215, -0.49160182,  1.00919971,  0.49691598],
       [ 1.12815215,  0.08253169,  1.00919971, -1.44416206],
       [ 1.12815215, -0.77866858,  1.00919971,  0.96277471],
       [ 1.12815215, -0.20453507,  1.00919971, -1.56062674],
       [ 1.12815215, -0.20453507,  1.00919971,  1.62274124],
       [-0.88640526,  0.94373197,  1.04736914, -1.44416206],
       [-0.88640526, -0.6351352 ,  1.04736914,  1.38981187],
       [ 1.12815215,  1.37433211,  1.04736914, -1.36651894],
       [ 1.12815215, -0.85043527,  1.04736914,  0.72984534],
       [ 1.12815215,  1.4460988 ,  1.23821628, -1.4053405 ],
       [ 1.12815215, -0.27630176,  1.23821628,  1.54509812],
       [-0.88640526, -0.13276838,  1.390894  , -0.7065524 ],
       [-0.88640526, -0.49160182,  1.390894  ,  1.38981187],
       [ 1.12815215,  0.51313183,  1.42906343, -1.36651894],
       [-0.88640526, -0.70690189,  1.42906343,  1.46745499],
       [-0.88640526,  0.15429838,  1.46723286, -0.43480148],
       [ 1.12815215, -0.6351352 ,  1.46723286,  1.81684904],
       [-0.88640526,  1.08726535,  1.54357172, -1.01712489],
       [ 1.12815215, -0.77866858,  1.54357172,  0.69102378],
       [-0.88640526,  0.15429838,  1.61991057, -1.28887582],
       [-0.88640526, -0.20453507,  1.61991057,  1.35099031],
       [-0.88640526, -0.34806844,  1.61991057, -1.05594645],
       [-0.88640526, -0.49160182,  1.61991057,  0.72984534],
       [ 1.12815215, -0.41983513,  2.00160487, -1.63826986],
       [-0.88640526, -0.06100169,  2.00160487,  1.58391968],
       [-0.88640526,  0.58489852,  2.26879087, -1.32769738],
       [-0.88640526, -0.27630176,  2.26879087,  1.11806095],
       [-0.88640526,  0.44136514,  2.49780745, -0.86183865],
       [ 1.12815215, -0.49160182,  2.49780745,  0.92395314],
       [ 1.12815215, -0.49160182,  2.91767117, -1.25005425],
       [ 1.12815215, -0.6351352 ,  2.91767117,  1.27334719]])

In [43]:
from sklearn.cluster import KMeans
algorithms= {'DBSCAN':DBSCAN(eps=0.8,min_samples=8),
          'KMeans':KMeans(init= 'k-means++' ,n_clusters=5,n_init=12),
            'AgglomerativeClustering':AgglomerativeClustering(n_clusters=6,linkage='complete')}

In [44]:
for h in algorithms:
    v=algorithms[h].fit(xn)
    labels=v.labels_
    customer_cluster=set(labels)
    print(h,labels,customer_cluster)

DBSCAN [-1 -1 -1  0 -1  0 -1  0 -1  0 -1 -1 -1  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
  0 -1  0 -1  0  0 -1  0 -1 -1  0  0  0  0  0  0  0 -1  1  0  0  0  0  0
  0  0  0  2  0  1  0  1  0  1  0  1  1  2  0  0  1  2  0  0  2  0  1  0
  0  0  1  2  0  1  0  0  1  1  1  0  0  1  0  0  0  0  0  2  1  0  0  2
  0  0  1  2  0  0  1  2  1  0  0  1  1  1  1  0  0  2  0  0  0  0  0  0
  2  0  0  3  0  0  1  3 -1  3  4  3  0  0 -1  0 -1  3 -1  0 -1  3  0  0
 -1  3  1  0 -1  3  4  3 -1  0 -1  0  4  0 -1  0  0  0 -1  0  4  0  4  0
 -1  3  4  3  4  3 -1  0 -1  3 -1  3 -1  0  4  0 -1  3 -1 -1 -1  0 -1  0
 -1  0 -1  0 -1 -1 -1 -1] {0, 1, 2, 3, 4, -1}

C:\Users\Ghalamkarian\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans [0 0 1 2 1 2 1 2 4 2 4 2 1 2 4 0 1 0 4 2 4 0 1 0 1 0 1 0 1 2 4 2 4 0 1 2 1
 2 1 2 1 0 4 2 1 2 1 2 2 1 1 0 2 4 1 4 1 4 2 4 4 0 1 1 4 0 1 1 0 2 4 1 1 1
 4 0 1 4 2 1 4 0 4 1 2 4 1 2 2 1 1 0 4 1 2 0 1 2 4 0 2 1 4 0 4 2 1 4 4 4 4
 2 1 0 2 2 1 1 1 1 0 1 2 0 2 2 4 0 4 0 4 0 2 2 3 2 3 0 3 2 3 0 2 2 3 0 4 2
 3 0 3 0 3 2 3 2 3 2 3 2 1 2 3 2 4 2 3 2 3 0 3 0 3 0 3 2 4 0 4 0 3 2 3 2 3
 0 3 0 3 2 3 2 3 2 3 2 3 0 3 0] {0, 1, 2, 3, 4}
AgglomerativeClustering [4 0 4 0 4 0 4 0 5 0 5 0 2 0 4 0 4 0 5 0 4 0 2 0 2 0 2 0 2 0 5 0 5 0 2 0 2
 0 2 0 2 0 5 4 2 0 2 4 4 4 2 0 4 5 2 5 2 5 4 5 5 0 2 2 5 0 2 2 0 4 5 2 2 2
 5 0 2 0 4 2 5 0 5 2 4 5 2 4 4 2 2 0 5 4 4 0 2 4 5 0 4 2 5 0 5 4 2 5 5 5 5
 4 4 0 4 4 2 2 2 2 0 4 4 3 4 3 5 3 1 3 1 3 4 3 1 3 1 3 1 3 2 3 4 3 1 3 5 3
 1 3 1 3 1 3 1 3 1 3 1 3 2 3 1 3 1 3 1 3 1 3 1 3 1 3 2 3 1 3 1 3 1 3 1 3 1
 3 2 3 1 3 1 3 1 3 1 3 1 3 1 3] {0, 1, 2, 3, 4, 5}

In [11]:
db=DBSCAN(eps=0.8,min_samples=8).fit(x)
labels=db.labels_
labels

array([-1, -1, -1,  0, -1,  0, -1,  0, -1,  0, -1, -1, -1,  0, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1,  0, -1,  0, -1,  0,  0, -1,  0, -1, -1,
        0,  0,  0,  0,  0,  0,  0, -1,  1,  0,  0,  0,  0,  0,  0,  0,  0,
        2,  0,  1,  0,  1,  0,  1,  0,  1,  1,  2,  0,  0,  1,  2,  0,  0,
        2,  0,  1,  0,  0,  0,  1,  2,  0,  1,  0,  0,  1,  1,  1,  0,  0,
        1,  0,  0,  0,  0,  0,  2,  1,  0,  0,  2,  0,  0,  1,  2,  0,  0,
        1,  2,  1,  0,  0,  1,  1,  1,  1,  0,  0,  2,  0,  0,  0,  0,  0,
        0,  2,  0,  0,  3,  0,  0,  1,  3, -1,  3,  4,  3,  0,  0, -1,  0,
       -1,  3, -1,  0, -1,  3,  0,  0, -1,  3,  1,  0, -1,  3,  4,  3, -1,
        0, -1,  0,  4,  0, -1,  0,  0,  0, -1,  0,  4,  0,  4,  0, -1,  3,
        4,  3,  4,  3, -1,  0, -1,  3, -1,  3, -1,  0,  4,  0, -1,  3, -1,
       -1, -1,  0, -1,  0, -1,  0, -1,  0, -1, -1, -1, -1], dtype=int64)

In [12]:
data['labels']=labels
data.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)  labels
0       1   19                  15                      39      -1
1       1   21                  15                      81      -1
2       0   20                  16                       6      -1
3       0   23                  16                      77       0
4       0   31                  17                      40      -1

In [13]:
set(labels)

{-1, 0, 1, 2, 3, 4}

In [14]:
data['labels'].value_counts()

labels
 0    90
-1    52
 1    24
 3    15
 2    11
 4     8
Name: count, dtype: int64

In [15]:
f=db.core_sample_indices_
f
#####

array([  3,   5,  13,  29,  31,  35,  37,  39,  43,  44,  45,  46,  47,
        48,  49,  50,  52,  54,  56,  58,  59,  60,  61,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  78,  79,
        80,  82,  83,  84,  85,  86,  87,  88,  89,  92,  93,  94,  95,
        96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 117, 118, 119, 121, 122, 123, 125,
       127, 132, 133, 135, 137, 139, 141, 142, 143, 147, 149, 150, 151,
       153, 155, 157, 159, 161, 163, 165, 167, 173, 175, 181, 183, 189],
      dtype=int64)

In [16]:
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
print(n_clusters_ )
n_noise_ = list(labels).count(-1)
print(n_noise_)

5
52

K_MEAN

In [17]:
from sklearn.cluster import KMeans

In [18]:
kmean=KMeans(init= 'k-means++' ,n_clusters=5,n_init=12)
kmean.fit(x)

C:\Users\Ghalamkarian\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=5, n_init=12)

In [19]:
labelss=kmean.labels_
labelss[:10]

array([3, 3, 2, 1, 2, 1, 2, 1, 0, 1])

In [20]:
cluster_center=kmean.cluster_centers_
cluster_center

array([[ 1.12815215,  1.20414253, -0.29510422, -0.54350185],
       [-0.88640526, -0.75047453, -0.00501655,  0.6979562 ],
       [-0.88640526,  0.7517978 , -0.51757746, -0.4420241 ],
       [ 1.12815215, -0.76072691,  0.05496398,  0.83369302],
       [ 0.12087344, -0.07756323,  1.17949408, -1.32321797]])

In [21]:
data['kmean']=labelss
data.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)  labels  kmean
0       1   19                  15                      39      -1      3
1       1   21                  15                      81      -1      3
2       0   20                  16                       6      -1      2
3       0   23                  16                      77       0      1
4       0   31                  17                      40      -1      2

In [28]:
data=data.drop('labels',axis=1)

In [29]:
data['kmean'].value_counts()

kmean
1    56
2    43
3    40
0    35
4    26
Name: count, dtype: int64

In [30]:
data.groupby('kmean').mean()

       Gender        Age  Annual Income (k$)  Spending Score (1-100)
kmean
0         1.0  55.628571           52.828571               36.200000
1         0.0  28.392857           60.428571               68.178571
2         0.0  49.325581           47.000000               38.813953
3         1.0  28.250000           62.000000               71.675000
4         0.5  37.769231           91.461538               16.115385

agglomarative

In [31]:
xxx=data[['Gender','Age','Annual Income (k$)','Spending Score (1-100)']]

In [32]:
from sklearn.preprocessing import MinMaxScaler
xo=xxx.values
scaler=MinMaxScaler()
normaldata=scaler.fit_transform(xo)
normaldata[0:5]

array([[1.        , 0.01923077, 0.        , 0.3877551 ],
       [1.        , 0.05769231, 0.        , 0.81632653],
       [0.        , 0.03846154, 0.00819672, 0.05102041],
       [0.        , 0.09615385, 0.00819672, 0.7755102 ],
       [0.        , 0.25      , 0.01639344, 0.39795918]])

In [33]:
from sklearn.metrics.pairwise import euclidean_distances
dis=euclidean_distances(normaldata, normaldata)
print(dis[:5])

[[0.         0.43029381 1.05538015 1.07533175 1.02646349 1.07058018
  1.09939505 1.14956286 0.94069617 1.07666789 0.95823955 1.21268023
  1.27442327 1.07762667 0.43805191 0.41425271 1.04821717 0.28052522
  0.64610288 1.20889521 0.31903388 0.3729909  1.18181459 0.42466407
  1.23671503 0.49077558 1.1253695  0.39550562 1.08762315 1.12204532
  0.87426513 1.06628453 0.75949599 0.56091039 1.19150561 1.09859961
  1.12706965 1.09058208 1.0756364  1.08066264 1.34898179 0.58074898
  0.59216306 1.06880746 1.17649413 1.05751226 1.19333414 1.03553075
  1.03918755 1.04698756 1.18296908 0.40912387 1.06271171 0.83084797
  1.1882011  0.58568877 1.20324593 0.99305684 1.05034678 0.70511191
  1.02789391 0.30202903 1.39228824 1.25039217 0.89673625 0.33938908
  1.13964138 1.40340429 0.33884381 1.06879825 1.03258469 1.16984838
  1.30934605 1.31683954 0.83700068 0.37912968 1.17157946 0.52317872
  1.06099211 1.19831866 0.80697441 0.51220284 0.97707613 1.17234549
  1.06649215 0.64677123 1.27882562 1.07168115 1.11953374 1.21849448
  1.42992025 0.36174421 0.6763765  1.13984559 1.09521196 0.40360195
  1.19693645 1.08273713 0.67388716 0.39108597 1.07459204 1.22052801
  1.02085    0.43953528 0.7150848  1.07276782 1.40866386 0.78289954
  1.02196226 0.99003482 0.97720945 1.08546066 1.13831331 0.40794142
  1.08479003 1.08653786 1.37317439 1.24195618 1.2498143  1.25331837
  0.48521321 1.14685729 1.18177633 0.7908182  1.10434047 1.18610574
  0.65221145 0.83685027 0.9402365  0.69220354 0.77093958 0.70254453
  1.1109477  1.17395263 0.58885554 1.23003933 1.25051022 0.63943805
  0.56695942 1.20080811 1.3770478  0.77973967 1.13139725 1.24595347
  0.58947722 0.79905585 0.75513027 1.20345957 1.17471864 0.7878432
  0.72806291 0.81522462 1.23910845 1.24205993 1.26952126 1.24524657
  0.73269277 1.21234575 0.70726676 1.19656894 1.33534557 1.23034945
  0.64267393 1.28434465 0.83797901 1.25340937 0.7562476  1.31821912
  1.21250399 0.6861257  0.76274014 0.71637481 0.73670879 0.86467015
  1.35320342 1.27780762 0.99020729 0.68950349 1.03225681 0.87992062
  1.2556611  1.32070762 0.89018066 1.32281074 1.28571389 0.93224747
  1.40476678 0.7838576  1.3227547  1.35922544 1.27677557 1.29479774
  0.90432535 1.43537867 1.44421271 1.41492053 1.44582177 1.00888686
  1.0528145  1.11639204]
 [0.43029381 0.         1.25941672 1.00160494 1.10103689 1.00161951
  1.28793763 1.00979245 1.14819981 1.01954136 1.11849397 1.05228139
  1.40054548 1.00333147 0.7601449  0.04965855 1.13808118 0.16191438
  0.80078005 1.0520821  0.54612467 0.13425027 1.35619827 0.22442095
  1.37167801 0.18742262 1.2142373  0.35424426 1.18616298 1.0091562
  1.09314402 1.01083173 1.00886744 0.19415371 1.33383604 1.01082557
  1.27036802 1.02998725 1.19611919 1.01815343 1.40422317 0.22686745
  0.72052031 1.05703871 1.27323305 1.03377137 1.19306305 1.08428388
  1.10635959 1.11236018 1.19435643 0.38490463 1.07961203 0.79537164
  1.22418891 0.68503377 1.22041236 1.01790258 1.08240036 0.75552314
  1.00875508 0.36936785 1.39244776 1.2336657  0.90512078 0.35621607
  1.16285097 1.41544832 0.35361105 1.11278068 1.01784008 1.21903191
  1.32341429 1.30762387 0.86981633 0.43282988 1.18188014 0.59083538
  1.09143815 1.2451918  0.82170017 0.52863627 1.02534477 1.21485559
  1.0780377  0.70664127 1.26535076 1.09053826 1.1102458  1.25011963
  1.42035128 0.54772093 0.71573387 1.20191068 1.15722607 0.47639083
  1.22736248 1.11777825 0.75507496 0.49915744 1.14738439 1.24569077
  0.99063336 0.47754299 0.70952962 1.14314737 1.4155388  0.8276985
  1.05928702 1.00850279 0.97894898 1.11003705 1.1943887  0.53883622
  1.13343913 1.12672417 1.40381141 1.22812951 1.29029681 1.24606072
  0.50996299 1.20978574 1.17664872 0.57109534 1.21912551 1.11439966
  0.78103457 0.60382955 1.12023381 0.56685376 1.00023554 0.57815826
  1.20590778 1.12502563 0.90983538 1.12017195 1.41132197 0.52671332
  0.87191746 1.14664489 1.52400016 0.54919281 1.20131284 1.13951611
  0.87172932 0.55049139 0.85948481 1.14372832 1.30062113 0.58103027
  0.93388716 0.6257689  1.36005184 1.17309163 1.39877913 1.13430141
  1.01376809 1.13910268 0.99777312 1.14161364 1.39590553 1.13985963
  0.9463396  1.15958582 0.97734652 1.19002986 0.94298477 1.18842267
  1.3172422  0.65328243 0.98146087 0.6084104  0.97795143 0.66641012
  1.48151981 1.17923457 1.14799106 0.62156483 1.18751596 0.69977159
  1.34031147 1.22438225 1.07123577 1.2213176  1.34375168 0.72847601
  1.49597549 0.72981338 1.44731068 1.26695157 1.39034563 1.25699344
  1.11954636 1.32760976 1.55905393 1.34671081 1.52751488 0.93683095
  1.20748243 1.01507247]
 [1.05538015 1.25941672 0.         0.72678323 0.40642616 0.71536743
  0.28892699 0.89995991 1.31054115 0.70081948 1.35063187 0.99215775
  0.73724666 0.72929939 1.05501456 1.24796925 0.4152799  1.17325337
  1.1987792  0.9837691  1.08400999 1.2169449  0.50551578 1.2319091
  0.66622331 1.28103338 0.55785411 1.18653184 0.4736671  0.83536563
  1.26700472 0.69350396 1.19271539 1.33827946 0.58060436 0.77812602
  0.46191053 0.72536887 0.40737329 0.72481727 0.93218901 1.34481638
  1.191299   0.62869943 0.63004595 0.63554058 0.78837777 0.48150993
  0.45121909 0.46732384 0.75944945 1.18808307 0.57760482 1.3838722
  0.73497654 1.20255161 0.78080477 1.45162497 0.53799495 1.27663681
  1.4984432  1.14491809 1.04968029 0.88575565 1.40123165 1.16737325
  0.68265473 1.0509725  1.16689795 0.54505448 1.49924048 0.69116581
  0.92838958 0.9642051  1.35445493 1.16199423 0.74710395 1.19524867
  0.56627749 0.73687273 1.34690518 1.21113146 1.42881273 0.70524531
  0.60680426 1.24641687 0.92060956 0.60367157 0.70329597 0.78610051
  1.10738357 1.11948991 1.26985721 0.63116406 0.56415492 1.1646092
  0.7580926  0.59141909 1.24937454 1.15263875 0.52253757 0.79803525
  1.50052866 1.18552929 1.30900535 0.5267634  1.06420931 1.3200479
  1.46390921 1.45417752 1.45520782 0.62344548 0.63997137 1.14968003
  0.58861441 0.60271607 0.9938112  0.87453826 0.82018022 0.88227904
  1.20547954 0.64415868 0.78625982 1.44032037 0.50430615 0.87495661
  1.21919734 1.47510267 1.32979001 1.3486259  1.21399179 1.35368949
  0.54915778 0.83388575 1.10380805 0.97384222 0.65681806 1.31869327
  1.10817431 0.87337597 0.86038736 1.44056894 0.62121302 0.98907925
  1.12383006 1.46147649 1.27814388 0.88584451 0.59783332 1.43716491
  1.21099088 1.4463384  0.70120598 0.94249163 0.73367352 0.99684026
  1.1695066  0.91379497 1.15470871 0.87330153 0.91297306 0.95601504
  1.13328541 1.0567495  1.30167709 0.95408553 1.23637164 1.10293839
  0.69229962 1.31538467 1.22135862 1.36311607 1.19792586 1.48440432
  0.85562476 1.02550706 1.37504586 1.3340465  1.40267997 1.48870788
  0.78617743 1.07724295 1.30774396 1.08712504 0.85984183 1.53690376
  0.97297036 1.38178838 0.8271779  1.11939297 0.78173492 0.98744741
  1.30194924 1.22648625 1.00334406 1.16823345 1.04617791 1.53221213
  1.43245312 1.62419301]
 [1.07533175 1.00160494 0.72678323 0.         0.40777518 0.02326224
  0.76053182 0.17424228 1.48069422 0.14604472 1.4593993  0.32288509
  0.92431457 0.03801056 1.22476494 1.00093022 0.48847473 1.00876507
  1.24668074 0.32010144 1.11410405 1.00371569 0.86072834 1.01527174
  0.88223553 1.01271492 0.6320748  1.0438318  0.5818574  0.14753577
  1.44025291 0.12772535 1.38098879 1.02571445 0.8262458  0.15020681
  0.72809208 0.20385195 0.60245646 0.1826856  0.93196485 1.0277722
  1.20071304 0.29302853 0.73180702 0.22562158 0.59891196 0.3719239
  0.42374981 0.4357969  0.60041232 1.05474726 0.35739142 1.24834304
  0.65207484 1.18192229 0.64693177 1.39114373 0.36982714 1.22203532
  1.38683952 1.05677833 0.91957564 0.67357355 1.3156375  1.05440989
  0.54095617 0.95144991 1.05283038 0.43870866 1.39301807 0.64322204
  0.81583511 0.79364516 1.2922917  1.07490769 0.57964301 1.13642567
  0.40260897 0.68888893 1.26290105 1.10933433 1.39568515 0.63721525
  0.37436017 1.19508094 0.72747976 0.40460544 0.43972341 0.6986985
  0.96099613 1.12624007 1.20118453 0.61603249 0.53626412 1.09339811
  0.66090942 0.46032119 1.2225965  1.10499466 0.52641225 0.69262816
  1.37545569 1.09356763 1.19920159 0.5207652  0.95295438 1.26644237
  1.42044762 1.38556265 1.36596425 0.45761641 0.60461407 1.12284315
  0.5080624  0.49308944 0.93455693 0.66712076 0.76489133 0.69713795
  1.10751385 0.63285563 0.57722903 1.1418445  0.66016295 0.46859761
  1.23888694 1.15924675 1.46153663 1.13440069 1.37757838 1.13944259
  0.6361598  0.48796837 1.32717429 0.49416659 0.9442372  1.1179936
  1.30358777 0.53091622 1.09597682 1.13599581 0.62742394 0.53126115
  1.30053841 1.14056779 1.2869228  0.52999314 0.78612045 1.14917765
  1.33455488 1.1685621  0.87158027 0.58444682 0.92667383 0.52836997
  1.39002345 0.52582253 1.38001033 0.52730559 0.92361915 0.53265771
  1.35261011 0.57808828 1.36392776 0.6187004  1.34201902 0.6324008
  0.81332284 1.17857949 1.36823006 1.16118383 1.36696571 1.19357177
  1.04201878 0.61224893 1.48377084 1.16656527 1.51357275 1.21210498
  0.85096638 0.69224167 1.43095991 0.69113877 0.85616734 1.23394353
  1.06456672 1.22600984 1.0015982  0.76006351 0.92569145 0.7383442
  1.47134922 0.85777244 1.1520186  0.88337835 1.11442702 1.357883
  1.54145467 1.41617212]
 [1.02646349 1.10103689 0.40642616 0.40777518 0.         0.40607806
  0.35545866 0.57215323 1.24320159 0.32750696 1.24496828 0.60715653
  0.57903568 0.4015853  1.04394643 1.0903815  0.0979552  1.0565088
  1.08540745 0.59883769 1.00588884 1.06301269 0.4637467  1.05720867
  0.52359619 1.09237461 0.29542957 1.02954605 0.219236   0.51317812
  1.20719466 0.40215293 1.15374934 1.16672577 0.45542233 0.47876212
  0.34532095 0.3649341  0.23775664 0.44628919 0.67804646 1.15295264
  1.06820542 0.28006518 0.40906525 0.34017127 0.43871993 0.21577934
  0.19348722 0.18962599 0.420485   1.04169093 0.2565659  1.17345986
  0.42605973 1.06779988 0.45532416 1.259663   0.27389725 1.11321433
  1.28283249 1.064512   0.74481629 0.54193377 1.20659153 1.07919159
  0.358096   0.75994529 1.07489949 0.26464663 1.28636171 0.404833
  0.62659438 0.64096965 1.17771849 1.05907114 0.4266849  1.06235468
  0.36144205 0.4606701  1.16386291 1.06467225 1.25354379 0.42054012
  0.39881304 1.09663353 0.59519046 0.40110017 0.39738871 0.50019439
  0.80512809 1.08679375 1.11334633 0.39266141 0.35357273 1.0757985
  0.47329056 0.37490912 1.11237033 1.08777528 0.39978106 0.51238512
  1.28566348 1.08107606 1.13248849 0.41647434 0.7782101  1.15825326
  1.28428586 1.26564708 1.2588386  0.46457366 0.40859785 1.09791497
  0.47324517 0.46740118 0.73104886 0.55875584 0.56287805 0.5758152
  1.0956908  0.43137791 0.49534146 1.21497526 0.47433501 0.5755614
  1.11882644 1.24130722 1.25436182 1.15826914 1.17925913 1.16066134
  0.46936172 0.55072756 1.17600833 0.67236551 0.62176065 1.15085018
  1.16844062 0.57517606 0.7768948  1.23242307 0.48703563 0.68136147
  1.15620791 1.25837014 1.16207364 0.60216842 0.53578386 1.2302994
  1.16547658 1.23027179 0.59510446 0.63487406 0.63612072 0.71127854
  1.19234438 0.63302752 1.18814979 0.60312526 0.70143142 0.6725081
  1.20664837 0.75344352 1.21019968 0.66892881 1.1858632  0.79770039
  0.59670342 1.17671731 1.19794577 1.20834267 1.19673267 1.27279515
  0.76005488 0.74791746 1.29358551 1.19673334 1.32226922 1.28619325
  0.67079761 0.80665149 1.26059352 0.82594688 0.69917569 1.33806825
  0.83448054 1.24861009 0.7674457  0.84676127 0.72823723 0.76475286
  1.31426402 0.95296083 0.93135836 0.93651882 0.94112628 1.38527111
  1.42065033 1.46982163]]

In [66]:
from sklearn.cluster import AgglomerativeClustering

agglom=AgglomerativeClustering(n_clusters=6,linkage='complete')
rr=agglom.fit(dis)

C:\Users\Ghalamkarian\anaconda3\Lib\site-packages\sklearn\cluster\_agglomerative.py:566: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  out = hierarchy.linkage(X, method=linkage, metric=affinity)

In [67]:
agglom.labels_

array([1, 1, 3, 5, 2, 5, 3, 5, 0, 5, 0, 5, 3, 5, 4, 1, 2, 1, 0, 5, 4, 1,
       3, 1, 3, 1, 2, 4, 2, 5, 0, 5, 0, 1, 3, 5, 2, 5, 2, 5, 3, 1, 4, 2,
       2, 5, 2, 2, 2, 2, 2, 4, 2, 0, 2, 4, 2, 0, 2, 0, 0, 1, 3, 2, 0, 1,
       2, 3, 1, 2, 0, 2, 3, 3, 0, 1, 2, 4, 2, 2, 0, 4, 0, 2, 2, 4, 2, 2,
       2, 2, 3, 1, 4, 2, 2, 1, 2, 2, 4, 1, 2, 2, 0, 1, 4, 2, 3, 0, 0, 0,
       0, 2, 2, 1, 2, 2, 3, 2, 2, 2, 1, 2, 2, 1, 2, 2, 4, 1, 0, 1, 0, 1,
       2, 2, 0, 5, 3, 1, 0, 2, 3, 1, 2, 5, 0, 1, 4, 2, 3, 1, 0, 1, 3, 2,
       3, 5, 0, 2, 0, 2, 3, 5, 0, 5, 0, 2, 0, 5, 3, 1, 0, 1, 0, 1, 3, 5,
       0, 1, 0, 1, 3, 5, 0, 5, 3, 1, 3, 1, 3, 5, 3, 5, 0, 5, 3, 5, 3, 1,
       0, 1], dtype=int64)

In [68]:
data['cluster']=agglom.labels_

In [69]:
data.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)  kmean  cluster
0       1   19                  15                      39      3        1
1       1   21                  15                      81      3        1
2       0   20                  16                       6      2        3
3       0   23                  16                      77      1        5
4       0   31                  17                      40      2        2

In [70]:
data.value_counts(data['cluster'])

cluster
2    57
0    37
1    37
3    29
5    26
4    14
Name: count, dtype: int64